*{
    margin: 0;
    padding: 0;
    
}

.contact-page{
    height: 100vh;
    width: 100%;
    background: url('../pages/background.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

// Container for the entire form

form {
    width: 30rem;
    margin: 50px;
    padding: 40px;
    background-color: #fffdf5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-family: 'Arial', sans-serif;
  }
  
  // Styling for each form group (label + input/textarea)
  form div {
    margin-bottom: 20px;
  }
  
  // Label styling
  label {
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #333;
  }
  
  // Input and textarea styling
  input[type='text'],
  input[type='email'],
  textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    background-color: #fffdf5;
  }
  
  // Styling for input and textarea on focus
  input[type='text']:focus,
  input[type='email']:focus,
  textarea:focus {
    border-color: #444;
    outline: none;
  }
  
  // Specific styling for the textarea element
  textarea {
    height: 150px;
    resize: vertical;
  }
  
  // Button styling
  button[type='submit'] {
    background: linear-gradient(#ffb8b8, #dac2ff);
    color: #000;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  // Button hover effect
  button[type='submit']:hover {
    background-color: #e0b928;
  }
  