/* .side-by-side {
  display: flex;
  flex: 1;
}

.dashboard {
  max-width: fit-content; 
}

.content-container {
  display: flex;
  flex-direction: column;
  height: 100vh; 
}

.side-by-side > * {
  flex: 1;
}

.career-generator {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto; 
} */
